input:invalid {
    box-shadow: 0 0 5px 1px red;
}

textarea:invalid {
    box-shadow: 0 0 5px 1px red;
}

.disabled-link {
    pointer-events: none;
}

.adminList {
    text-align: center;
}

.adminList h4 {
    margin-top: 20px;
}

.adminButton {
    padding-top: 14px;
}

.unauthImg {
    text-align: center;
    margin: 30px 0px;
}
.unauthImg img {
    width: 320px;
    height: 220px;
}

.restricted {
    color: red;
}